@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


@font-face {
	font-family: 'Eraser Dust';
	src: url('/fonts/erasdust.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	color-scheme: dark !important;
}

.lora-700 {
	font-family: 'Lora', serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.lora-400 {
	font-family: 'Lora', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.erasdust-400 {
	font-family: 'Eraser Dust', serif;
}

.blackboard {
	background-color: #1d2c29;
}

.blackboard-darker {
	background-color: #182220;
}

.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}


@layer utilities {
	@media (min-width: 1200px) and (orientation: landscape) {
		.lg-landscape\:px-4 {
			padding-left: 2rem;
			padding-right: 2rem;
		}
	}

	@media (min-width: 1800px) and (orientation: landscape) {
		.xl-landscape\:px-16 {
			padding-left: 8rem;
			padding-right: 8rem;
		}
	}
}
